.mncontainer {
    padding: 8px;
    /* display: flex; */
    max-width: 897px;
    flex-wrap: wrap;
    margin: auto;
    /* background: aliceblue; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

img.mnCreateImage {
    width: 10%;
}

.mnfilters {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    padding: 12px;
    flex-wrap: wrap;
}

select#mnOptionsFilter {
    width: 50%;
    margin: 0px 10px;
}

button#mnbuttonComplete {
    height: 30px;
}

.form-check.form-switch {
    margin: 0px 16px;
}

.mnheader {
    margin: 20px auto;
    max-width: 500px;
    width: 70%;
    /* display: flex; */
    flex-direction: column;
    overflow: hidden;
    height: 0px;
    transition: height 1s;
}

a.mnComplete {
    padding: 2px;
    display: block;
    width: 80px;
    background: darkgrey;
    font-size: 12px;
    color: white;

}

.mnbody{
    
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 32px;
    border-top: 0.5px solid;
    padding: 16px 0px;
}



.card-body {
    width: 20%;
    min-width: 300px;
    background: #F8F8F8F8;
    padding: 8px;
    margin: 24px 8px;
    font-size: 14px;
    padding: 8px!important; 
    flex: inherit;
    justify-content: center;
    position: relative;
    box-shadow: 10px 10px 5px #aaaaaa;
    word-wrap: break-word;
    /* min-height: 150px; */
}

.cardPriority {
    position: absolute;
    bottom: -22px;
    /* background: #0F0F0F; */
    padding: 0px 10px;
    font-size: 10px;
    color: black;
}


a.btnUrgent {
    background: red;
}

a.btnNormal{
    background-color: #14A06B;

}

.mnoptions {
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: antiquewhite; */
    border-bottom: 1px solid #0303;
}

/* a.mnComplete {
    display: none;
    
} */
a.btn.btn-primary {
    position: absolute;
    top: -30px;
    border: none;
    font-size: inherit;
    right:0px;

}

.btn-primary{
    font-size: 12px!important;
}


/* a.btn-primary-hover:hover {
    display: none!important;
    
} */

a.btn.btn-primary:hover  + a.mnComplete{
    display: block;
  }



.pindecator{
    width: 20px;
    height: 20px;
    background-color:chocolate;
    text-align: center;
    position: absolute;
    top:3px;
    right: 13px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.form {
    width: 100%;
}

.mndropdown {
    display: flex;
}

span.input-group-text{
    min-width: 70px;
    text-align: center;

}

.noteButtons {
    text-align: center;
}

input#mnDate {
    border: none;
    height: 30px;
    padding: 0px 10px;
    border-radius: 4px;
    margin: 0px 5px;
    /* border-block-start-style: revert; */
    border-bottom: groove;
}

p.cardETA {
    /* position: absolute; */
    /* right: 0px; */
    /* border-bottom: 1px solid; */
    /* padding: 0px 8px; */
    /* top: -16px; */
    /* align-items: center; */
    font-size: 10px;
    display: initial;
}

.mnalert {
    text-align: center;
    font-size: 14px;
    padding: 8px 8px 0px 8px;
    height: 0px;
    overflow: hidden;
    transition: height 10s;
}


/* --------------------------------Editables------------------------- */



.editableback {
    background-color: rgb(35 32 32 / 90%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
   display: none;

}

.editable {
    margin: auto;
    max-width: 500px;
    left: 50%;
    /* position: absolute; */
    /* padding-top: 10%; */
    background: white;
    height: 400px;
    z-index: 10000;
    opacity: 100;
    /* top: 500px; */
    height: auto;
    margin-top: 10%;
    padding: 8px;
        border-radius: 10px;
}

.mnVisible{
    display: none;
}
.mnInvisible{
    display: block;
}

input#mnDateUpdate {
    border: none;
    height: 30px;
    padding: 0px 10px;
    border-radius: 4px;
    margin: 0px 5px;
    /* border-block-start-style: revert; */
    border-bottom: groove;
}

/* //pencil item CSS */

img.editButton {
    /* position: absolute; */
    /* right: 4px; */
    /* bottom: 4px; */
    width: 10px;
    /* padding: 4px; */
}


/* ---------------------------------- show completed data-------------------------- */

table#mnComplete {

    width: 100%;
    height: 100%;
}

th, tr, td {
    border-color: inherit;
    border-style: solid;
    font-size: 12px;
    padding: 0px 16px;
    border: 0.1px solid;
    text-align: center;
    border-bottom: 0.5px solid !important;
    padding:4px 2px;
}

th {
    background: #0F0F0F;
    color: #FFFFFF;
}

.showdata {
    max-width: 100%;
    overflow: hidden;
    margin: 32px;
    display: non;
    display: none;
}

/* ---------------------------------confirmation-------------------- */
.mnoverlayMain {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgb(236, 237, 254,0.9);
    justify-content: center;
    top: 0;
    display: none;
}

.overlaySection {
    top: 40%;
    width: 40%;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 10px;
    border-radius: 13px;
    background: #F8F8F8;
}

.mnoverlayNameMain{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgb(236, 237, 254,0.9);
    justify-content: center;
    top: 0;
    display: none;
    /* display: none; */
}

.overlaySectionName {
    top: 40%;
    width: 40%;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 10px;
    border-radius: 13px;
    background: #444141;
    color: white;
}

button#mnbuttonClearName {
    margin-top: 8px;
}
